@use '../util' as *;
html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    background: $paleBlue;
    font-size: 16px;
    font-family: $redHat;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}